
.status-menunggu_kurir,
.status-dikirim,
.status-tiba_di_tujuan,
.status-gagal,
.status-diproses{
    -fx-background-color: #ffeb3b; /* Kuning */
    -fx-text-fill: #333333;
    -fx-padding: 4px 8px; /* Padding DI DALAM BADGE */
    -fx-background-radius: 15px; /* Rounded badge */
    -fx-font-size: 11px;
    -fx-font-weight: bold;
}

/* Spesifik warna (ini sudah benar) */
.status-dikirim {
    -fx-background-color: #bbdefb;
}
.status-tiba_di_tujuan {
    -fx-background-color: #c8e6c9;
}
.status-gagal {
    -fx-background-color: #ffcdd2;
}
.status-diproses {
    -fx-background-color: #f18e93;
}

.table-view .table-cell {
    -fx-padding: 0;
    -fx-alignment: CENTER_LEFT;
}

#statusColumn .table-cell {
    -fx-padding: 5px;
    -fx-alignment: CENTER;
}

.table-row-cell {
    -fx-pref-height: 40px;
}